<%# locals: (breadcrumbs:, title:, actions:[]) -%>

<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full mb-1">
        <div>
            <nav class="flex mb-5" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
                  <li class="inline-flex items-center">
                    <%= link_to admin_root_path, class: "inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white" do %>
                      <%= icon "home", variant: "filled", class: "w-5 h-5 mr-2.5", aria: { hidden: true } %>
                      Admin
                    <% end %>
                  </li>
                  <% breadcrumbs.each do |breadcrumb| %>
                    <li>
                      <div class="flex items-center">
                      <%= icon "chevron-right", variant: "outline", class: "w-6 h-6 text-gray-400" %>
                      <%= link_to breadcrumb[:title], breadcrumb[:url], class: "ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white" %>
                      </div>
                    </li>
                  <% end %>
                  <li>
                    <div class="flex items-center">
                      <%= icon "chevron-right", variant: "outline", class: "w-6 h-6 text-gray-400" %>
                      <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page"><%= title %></span>
                    </div>
                  </li>
                </ol>
            </nav>
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white flex flex-wrap items-center justify-between">
              <%= title %>
              <% if actions.any? %>
                <div class="flex items-center gap-2">
                  <% actions.each do |action| %>
                    <%= admin_action_button(action[:title], action[:url], method: action[:method], data: action[:data]) %>
                  <% end %>
                </div>
              <% end %>
            </h1>
        </div>
    </div>
</div>
