<%# locals: (guesses:, highlighted_guess: nil) %>

<%= turbo_frame_tag "guesses" do %>
  <div class="border border-gray-300 rounded-md">
    <h2 class="text-lg font-bold flex items-center justify-between border-b border-gray-300 py-2 px-3 bg-gray-100 rounded-t-md">
      <%= t(".title") %>
      <span class="text-sm text-gray-500"><%= guesses.count %> / <%= @game.game_words_count %></span>
    </h2>
    <div class="max-h-90 overflow-auto inset-shadow-sm" id="guesses-container">
      <% guesses.each do |guess| %>
        <div class="flex items-center justify-between border-b border-gray-200 py-1 aria-selected:bg-green-200 aria-selected:animate-fade-in-bg"
             aria-selected="<%= highlighted_guess == guess %>"
             id="guess-<%= guess.id %>"
             data-guess-id="<%= guess.id %>">
          <div class="px-3 guess-value"><%= guess.game_word.value %></div>
          <div class="px-3"><%= guess.game_word.score %></div>
        </div>
      <% end %>
    </div>
    <div class="flex items-center justify-between border-t border-gray-300 py-2 bg-gray-100 rounded-b-md">
      <div class="px-3 text-sm text-gray-500">Total antal point</div>
      <div class="px-3 text-sm text-gray-500"><%= guesses.sum(&:score) %></div>
    </div>
  </div>
<% end %>
