<%= container(title: t(".title")) do %>
  <%= form_with url: password_path(params[:token]), method: :put, class: "space-y-4 md:space-y-6" do |f| %>
    <div>
      <%= f.label :password, t(".password_label"), class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.password_field :password, required: true, autofocus: true, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" %>
    </div>

    <div>
      <%= f.label :password_confirmation, t(".password_confirmation_label"), class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.password_field :password_confirmation, required: true, autofocus: true, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" %>
    </div>

    <%= f.submit t(".save_button"), class: "w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
  <% end %>
<% end %>
