<%= container(title: t(".title")) do %>
  <%= form_with url: passwords_path, class: "space-y-4 md:space-y-6" do |f| %>
    <div>
      <%= f.label :email_address, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address], class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" %>
    </div>

    <%= f.submit t(".email_reset_instructions_button"), class: "w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
  <% end %>
<% end %>
