<%= render "layouts/admin/page_header",
  breadcrumbs: [{ title: t("admin.users.index.title"), url: admin_users_path }],
  title: @user.username,
  actions: [
    { title: t(".edit"), url: edit_admin_user_path(@user) },
    { title: t(".delete"), url: admin_user_path(@user), method: :delete, data: { turbo_method: :delete, turbo_confirm: t(".delete_confirmation") } }
  ]
%>

<div class="p-4">
  <h1 class="text-2xl font-bold text-gray-900 dark:text-white border-b border-gray-200 dark:border-gray-700"><%= t(".general_information") %></h1>
  <div class="flex flex-wrap gap-4 mt-4">
    <dl class="w-sm md:w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
      <div class="flex flex-col pb-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400"><%= t("activerecord.attributes.user.id") %></dt>
        <dd class="text-lg font-semibold font-mono"><%= @user.id %></dd>
      </div>
      <div class="flex flex-col py-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400"><%= t("activerecord.attributes.user.username") %></dt>
        <dd class="text-lg font-semibold"><%= @user.username %></dd>
      </div>
      <div class="flex flex-col py-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400"><%= t("activerecord.attributes.user.name") %></dt>
        <dd class="text-lg font-semibold"><%= @user.name %></dd>
      </div>
      <div class="flex flex-col py-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400"><%= t("activerecord.attributes.user.email_address") %></dt>
        <dd class="text-lg font-semibold"><%= @user.email_address %></dd>
      </div>
      <div class="flex flex-col pt-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400"><%= t("activerecord.attributes.user.admin") %></dt>
        <dd class="text-lg font-semibold"><%= boolean_with_icon(@user.admin?) %></dd>
      </div>
    </dl>
    <dl class="w-sm md:w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
      <div class="flex flex-col pb-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400"><%= t("activerecord.attributes.user.created_at") %></dt>
        <dd class="text-lg font-semibold"><%= l @user.created_at, format: :long %></dd>
      </div>
      <div class="flex flex-col pt-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400"><%= t("activerecord.attributes.user.updated_at") %></dt>
        <dd class="text-lg font-semibold"><%= l @user.updated_at, format: :long %></dd>
      </div>
    </dl>
  </div>
</div>

<%= render "recent_sessions" %>
