<%= container(title: t(".title")) do %>
  <%= form_with(model: @user, url: account_path, class: "space-y-4 md:space-y-6") do |f| %>
    <%= form_errors(@user) %>

    <div>
      <%= f.label :username, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.text_field :username, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5", required: true %>
    </div>

    <div>
      <%= f.label :name, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5", required: true %>
    </div>

    <div>
      <%= f.label :email_address, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.email_field :email_address, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5", required: true %>
    </div>

    <div>
      <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" %>
      <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
        <%= t(".password_hint") %>
      </p>
    </div>

    <div>
      <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.password_field :password_confirmation, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" %>
      <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
        <%= t(".password_confirmation_hint") %>
      </p>
    </div>

    <%= f.submit t(".update_account"), class: "w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
  <% end %>
<% end %>
